.Scorefield{
    display: flex;
    justify-content: space-between;
}

#choice{
    font-style: normal; color: brown;
}

#buttonA,#buttonB,#buttonC,#buttonD{
    background-color: brown;
    color: whitesmoke;
}

#titles{
    color: brown;
}

body{
    background-image: url(landscape-photography-of-forest-during-autumn-season-589821.jpg);
    background-size: 2000px;
}

#timer{
    color: red;
    font-size: 50px;
}

.promptedText{
    color: red;
    font-size: 40px;
}